// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$colors: (
    "blue": #51a2e4,
    "indigo": #6574cd,
    "purple": #a778ee,
    "pink": #eb84a6,
    "red": #f14b45,
    "orange": #f6aa5d,
    "yellow": #fff389,
    "green": #88f6a0,
    "turqoise": #75dacf,
    "cyan": #7cb7e7,
    "brown": #b39876,
    "grey": #b4b4b4
);

// Colors
@each $color, $value in $colors{
    .text-#{$color}{
        color: $value;
    }

    .background-#{$color}{
        background-color: $value !important;
    }
}
