// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$colors: (
    "blue": #51a2e4,
    "indigo": #6574cd,
    "purple": #a778ee,
    "pink": #eb6e97,
    "red": #f14b45,
    "orange": #fd9c3c,
    "yellow": #fbe836,
    "green": #48dd68,
    "turqoise": #2ed6c3,
    "brown": #8b7253,
    "grey": #8f8f8f
);

// Colors
@each $color, $value in $colors{
    .text-#{$color}{
        color: $value;
    }

    .background-#{$color}{
        background-color: $value !important;
    }
}
